html {
    background-color: #EEE;
    background-position: left top;
    background-repeat: repeat-x;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
    font-family: "Arial";
    overflow: hidden;
    width: 100%;
}

h3
{
    margin: 3px;
    text-align: center;
    margin-bottom: 5px;
}

.QuickBlock
{
    height: 100%;
}

div.inputWrapper
{
    margin: 0px;
    padding-left: 10px;
    margin-left: 10px;
    padding: 0px;
}

.infoText
{
    display: inline;
	color: #003399;
    text-align: right;
}

#inputSiteWrapper
{
	float: left;
	display: inline;
    margin: 3px;
    text-align: center;
}

body
{
    margin: 0px;
    padding: 0px;
}

.treeGroup
{
    float: left;
}

.treeWrapper
{
    width: 232px;
    height: 200px; /* needs to be same as dynamically-set tree height*/
    float: left;
    border: 1px solid #CCC;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 2px;
}

table
{
    float: left;
    text-align: right;
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 217px;
    white-space: nowrap;
    margin: 4px;
}

tbody
{
    font-size: 10pt;
    color: #555;
}

.firstColumn
{
    background: none repeat scroll 0 0 #D0DAFD;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

thead
{
    font-size: 9pt;
    font-weight: normal;
}

th
{
    color: #003399;
    font-size: 9pt;
    font-weight: normal;
}

tr:nth-child(odd) 
{
    background: none repeat scroll 0 0 #E8EDFF;
}

td
{
    padding: 4px;
}

tr
{

}

.QuickBlock div.controls
{
    padding: 5px 5px 20px;
}

div.menuBar
{
    margin: 0px 5px 1px 1px;
    padding: 0px;
}

div.menuBar ul
{
    /* width: 100%; */
    /* position: absolute; */
    display: block;
    bottom: 0px;
}

tr:hover td {
  background: none repeat scroll 0 0 #D0DAFD;
  color: #333399;
}

ul
{
    margin: 2px;
    padding: 0px;
    float: left;
    width: 100%;
}

h2
{
    font-size: 12pt;
    font-weight: normal;
    margin: 0;
    color: #000;
    text-align: center;
    background: -moz-linear-gradient(top, #899bff 0%, #afc2ff 50%, #a1b7ff 51%, #cbd8ff 100%); /* FF3.6+ */
}

li.small
{
    font-size: 11pt;
}

ul li {
    display: block;
    color: #808080;
    font-size: 13pt;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.menuIcon
{
    margin: 0px 5px;
    display: inline-block;
    height: 32px;
    width: 32px;
    text-decoration: none;
    border-style: none;
    vertical-align: middle;
}

.small .menuIcon
{
    height: 16px;
    width: 16px;
}
    

ul li div {
    background-color: #FEFEFE;
    border: 1px solid #4179a8;
    display: block;
    text-decoration: none;
    white-space: nowrap;
    border-bottom: none;
    margin: 1px;
    padding: 3px;
}

ul li:last-child div
{
    border-bottom: 1px solid #4179a8;
}

ul li div a {
    display: block;
    padding: 2px 0px;
    text-decoration: none;
    color: #444;
    font-size: 14pt;
    font-family: Arial;
    background-color: #F6F6F6;
}

ul li.small div a
{
    font-size: 10pt;
}

ul li div a:hover
{
    color: #000;
    background-color: #DEF0FF;
}
