html
{
	font-family: Arial;
	font-size: 12;
	height: 100%;
	width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body
{
    background: -moz-linear-gradient(top, #EFEFEF 0%, #FFF 100%); /* FF3.6+ */
}

body.blockPage
{
    background: -moz-linear-gradient(top, #606C88 0%, #3f4c6b 100%); /* FF3.6+ */
}

.boxWrapper
{
	background: none repeat scroll 0 0 #EEE;
	border: 1px solid #CCC;
	border-radius: 7px;
	box-shadow: 0 0 3px #CCC;
	margin: 0 auto;
	width: 900px;
	padding: 25px;
}

.centeredWrapper
{
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

div.notification
{
    display: none;
    background-color: #FDDFDE;
    border-radius: 3px;
    margin: 5px;
    border: 1px solid #FBC7C6;
    color: #404040;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

div.notification.warning
{
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    color: #C09853;
}

div.notification p
{
    margin: 7px;
}

.centeredWrapper h1
{
    color: #CDD8ED;
    text-shadow: -1px -1px 1px #0B2A5B;
    font-size: 24pt;
    margin-bottom: 0px;
}

.centeredWrapper p
{
    color: #EDEDED;
    font-size: 12pt;
    font-weight: normal;
    text-shadow: -1px -1px 1px #3D4E73;
    letter-spacing: 1px;
    margin-top: 0px;
}

.centeredWrapper button
{
    margin-top: 25px;
}

div#nav
{
    width: 920px;
    text-align: center;
}

div#nav ol
{  
	margin: 0;  
	padding: 0;  
	font-size: 12pt;
} 
  
div#nav ol.steps
{  
	height: 48px;  
    /*width: 905px;*/
	/*border-left: 1px solid rgba(0,0,0,0.3);*/  
	border-right: 1px solid rgba(255,255,255,0.3);  
	text-align: center;  
	list-style: none;  
    display: inline-block;
}  

#settings div#nav ol.steps
{
}
  
div#nav ol.steps li 
{  
	float:left;  
	height: 48px;  
	text-align: center;  
    display: inline;
}  
  
div#nav ol li a
{  
	color: #DEDEDE;
	text-decoration: none;
	display: block;  
	padding: 0 20px;  
	/*border-left: 1px solid rgba(255,255,255,0.1); */ 
	text-align: center;  
	line-height: 48px;  
	background-color: #B0B0B0;
}  

div#nav ol li.selected a, 
div#nav ol li.selected+div
{
	background-color: #555;
	border-color: #B0B0B0 #B0B0B0 #B0B0B0 #555;
	color: #FFF;
	font-weight: bold;
}

div#nav .arrow.arrowPrevious
{
	border-color: #555 #555 #555 #B0B0B0;
}

div#nav .arrow
{
	border-color: #B0B0B0 #B0B0B0 #B0B0B0 #B0B0B0;
	border-width: 24px 0 24px 16px;
	float: left;
	border-style: solid;
	height: 0;
	line-height: 0;
	width: 0;
}

div#nav ol.steps > li:first-child a
{
	border-radius: 8px 0 0 8px;
}

div#nav ol.steps > li:last-child a
{
	border-radius: 0 8px 8px 0;
}

div#bottomNavBar
{
	text-align: center;
	clear: both;
    padding-top: 10px;
}

div#content
{
	clear: both;
	padding: 0px;
}

