h1
{
	font-size: 25pt;
	margin-bottom: 10px;
}

h2
{
    margin-top: 3px;
	margin-bottom: 5px;
}

hr
{
	color: #003399;
	background-color: #CCC;
	height: 1px;
	border-bottom-style: dashed;
	border-top-style: hidden;
}

#loading p
{
    color: #555;
}

#nav ol li#save a
{
    color: #FFF;
    background-color: #606C88;
    text-shadow: 1px 1px #333;
}

.Welcome .flowchart
{
    border: none;
}

#content .Welcome 
{
    text-align: center;
}

div#content
{
	padding-top: 8px;
	padding-bottom: 10px;
}

div.helpArea
{
	width: 820px;
    padding-bottom: 5px;
}

div.fullScreen
{
    position: absolute;
    display: none;
    padding-top: 20%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    text-align: center;
    font-weight: bold;
}

div#screenBlocker
{
    background: url("../bg1.png");
}

div.buttonBar
{
    display: inline;
}

div.fullScreen p
{
    font-size: 14pt;
    color: #FFF;
}

.TermsAndConditions div#termsAndConditions
{
	width: 600px;
	height: 300px;
	overflow-y: scroll;
	background-color: #FFF;
	box-shadow: 1px 1px 4px 1px #555;
	padding: 10px;
	margin: 5px;
}

.Deterrent .groupedColumn
{
    width: 270px;
    float: left;
    display: inline;
    border-radius: 5px;
    background-color: #FEFEFE;
    border: 1px solid #4179a8;
    white-space: nowrap;
    padding: 3px;
    margin: 5px 6px;
}

.Deterrent .groupedColumn a
{
    display: block;
    height: 400px;
    padding: 2px 0px;
    text-decoration: none;
    color: #333;
    font-family: Arial;
    background-color: #F6F6F6;
    overflow-x: hidden;
    overflow-y: auto;
}

.Deterrent .groupedColumn a[value="password"]
{
    overflow-y: hidden;
}

.Deterrent .innerColumn
{
    margin: 5px;
}

.Deterrent .groupedColumn a p
{
    white-space: normal;
}

.Deterrent .groupedColumn a:hover
{
    background-color: #DEF0FF;
}

.Deterrent .groupedColumn.selected
{
    background-color: #5C8DFF;
    box-shadow: 0 0 5px #5C8DFF;
}

.Deterrent .groupedColumn.selected a
{
    background-color: #FFF;
}

.Deterrent .groupedColumn.selected h2
{
    color: #000;
}

.Deterrent .deterrentLogo
{
    text-align: center;
    width: 100%;
}

.BlockLists .groupedColumn
{
	width: 270px;
	height: 380px;
	float: left;
	display: inline;
}

.BlockSchedule .groupedColumn
{
	width: 300px;
	height: 380px;
	float: left;
	display: inline;
}

.BlockSchedule #groupScheduleSection
{
	display: inline;
	float: left;
}

.BlockLists .betweenTrees
{
	width: 63px;
	display: inline;
	float: left;
	text-align: center;
	padding-left: 10px;
	padding-top: 150px;
}

.BlockLists .arrowBtn
{
	display: block;
    font-weight: bold;
    width: 40px;
}	

.BlockLists .arrowBtn.right
{
    color: #BC0909;
}

.BlockLists .newGroupIcon
{
	height: 16px;
	width: 16px;
	background-image: url("../GreyFolder.png");
}

.BlockLists #addSiteBtn
{
	display: inline;
	float: left;
	background-image: url("../AddSite.png");
	height: 16px;
	width: 16px;
	margin-left: 5px;
	margin-top: 1px;
	cursor: pointer;
}

.BlockLists #domainInput
{
	display: inline;
	float: left;
}

.BlockLists .addSite
{
	clear: both;
	margin: 5px;
	float: left;
}

.BlockLists #inputSiteWrapper
{
	float: left;
	display: inline;
}

.BlockLists .treeWrapper,
.BlockSchedule .treeWrapper
{
	clear: both;
	border: 1px solid #CCC;
	float: left;
	margin-top: 5px;
}

.claro .textBoxHint
{
	color: #AAA;
	font-style: italic;
}

.claro #controlArea
{
	clear: both;
}

.helpText
{
	display: inline;
}

.BlockLists div#commonBlockLists
{
	margin-top: 25px;
}

.BlockLists div#groupSettingsWrapper
{
	margin-top: 25px;
	clear: both;
	float: left;
}

.BlockSchedule div#groupSettingsWrapper
{
	margin-top: 0px;
	clear: both;
	float: left;
}

.BlockLists div.groupSetting,
.BlockSchedule div.groupSetting
{
	clear: both;
	padding: 5px;
}

.BlockSchedule .columnHelpText
{
	color: #003399;
}
