<div class="BlockLists">
	<div class="helpArea">
		<p class="helpText">Choose the sites you wish to block. You may create separate block lists in case you would like to block
		different sets of sites	at different times. Simply drag commonly blocked sites over to a folder on your blocked sites, or 
		add the domains you wish to block in the domain text box and click the green plus button.</p>
		<a class="helpText" href="#">More Help.</a>
	</div>
	<div id="controlArea">
		<div class="groupedColumn">
			<h2>Commonly Blocked Sites</h2>
			<div id="commonBlockLists" dojoAttachPoint="_commonBlockLists" class="treeWrapper"></div>
		</div>
		<div class="betweenTrees">
            <input dojoAttachPoint="_rightBtn" title="Add to my blocklist" 
                    type="button" disabled="true" class="arrowBtn" value="&#x2192;" name="">
			</input>
            <input dojoAttachPoint="_leftBtn" title="Remove"    
                    type="button" disabled="true" class="arrowBtn right" value="&#x2a2f;" name="">
			</input>
		</div>
		<div class="groupedColumn">
			<h2>Your Blocked Sites</h2>
			<div id="addSite">
				<div id="inputSiteWrapper">
					<input value="" type="text" name="inputSite" dojoType="dijit.form.TextBox" id="domainInput" 
					selectOnClick="true" dojoAttachPoint="_domainInput" trim="true"/> 
				</div>
				<span id="addSiteBtn"></span>
			</div>
			<div dojoAttachPoint="_userBlockLists" class="treeWrapper"></div>
		</div>
		<div class="groupedColumn" id="groupSettingsSection">
		        <h2 id="groupSettings">Group 1 Advanced Settings</h2>
		        <div id="groupSettingsWrapper">
				<div class="groupSetting">
					<input enabled="false" disabled="true" name="" value="" dojoAttachPoint="_invertModeInput" type="" id="invertModeInput"
					dojoType="dijit.form.CheckBox" style="cursor: pointer;"/>
					<label id="invertModeInputLabel" style="color: #777" for="invertModeInput">
					Invert mode 
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
