<div class="BlockSchedule">
	<div class="helpArea">
		<p class="helpText">This is where you can set blocks to be active only during certain times.</p>
		<a class="helpText" href="#">More Help.</a>
	</div>
	<div id="controlArea">
		<div class="groupedColumn">
			<h2>Your Block Groups</h2>
			<p class="columnHelpText">Select the group to change the schedule for:</p>
			<div class="treeWrapper" dojoAttachPoint="_userBlockLists"></div>
		</div>
		<div id="groupScheduleSection">
			<h2 id="groupScheduleLabel">Group 1 Schedule</h2>
			<p class="columnHelpText">Select the block period:</p>
			<div id="groupSettingsWrapper">
				<div class="groupSetting">
					<input name="" value="" dojoAttachPoint="_sundayInput" type="" id="sundayInput"
					dojoType="dijit.form.CheckBox" style="cursor: pointer;"/>
					<label for="sundayInput">Sun</label>
					<input name="" value="" dojoAttachPoint="_mondayInput" type="" id="mondayInput"
					dojoType="dijit.form.CheckBox" style="cursor: pointer;"/>
					<label for="mondayInput">Mon</label>
					<input name="" value="" dojoAttachPoint="_tuesdayInput" type="" id="tuesdayInput"
					dojoType="dijit.form.CheckBox" style="cursor: pointer;"/>
					<label for="tuesdayInput">Tues</label>
					<input name="" value="" dojoAttachPoint="_wednesdayInput" type="" id="wednesdayInput"
					dojoType="dijit.form.CheckBox" style="cursor: pointer;"/>
					<label for="wednesdayInput">Wed</label>
					<input name="" value="" dojoAttachPoint="_thursdayInput" type="" id="thursdayInput"
					dojoType="dijit.form.CheckBox" style="cursor: pointer;"/>
					<label for="thursdayInput">Thurs</label>
					<input name="" value="" dojoAttachPoint="_fridayInput" type="" id="fridayInput"
					dojoType="dijit.form.CheckBox" style="cursor: pointer;"/>
					<label for="fridayInput">Fri</label>
					<input name="" value="" dojoAttachPoint="_saturdayInput" type="" id="saturdayInput"
					dojoType="dijit.form.CheckBox" style="cursor: pointer;"/>
					<label for="saturdayInput">Sat</label>
				</div>
				<div class="groupSetting">
					<input name="" value="" checked dojoAttachPoint="_allDayInput" type="" id="allDayInput"
					dojoType="dijit.form.CheckBox" style="cursor: pointer;"/>
					<label for="allDayInput" style="padding-right: 30px;">All Day</label>
					<label for="timeStart">Time Start:</label>
					<input disabled dojoAttachPoint="_timeStart" value="T15:00:00" type="text" name="timeStart" dojoType="dijit.form.TimeTextBox" id="timeStart" />
					<label for="timeEnd">Time End:</label>
					<input disabled dojoAttachPoint="_timeEnd" value="T20:00:00" type="text" name="timeEnd" dojoType="dijit.form.TimeTextBox" id="timeEnd" />
				</div>
				<hr>
				<div class="groupSetting">
					<input name="" value="" checked dojoAttachPoint="_cheatModeInput" type="" id="cheatModeInput"
					dojoType="dijit.form.CheckBox" style="cursor: pointer;"/>
					<label id="cheatModeInputLabel" for="cheatModeInput">Enable cheat mode</label>
				</div>
				<div class="groupSetting" style="margin-left: 20px;">
					<input  name="" value="5" dojoAttachPoint="_cheatModeMinsInput" type="" id="cheatModeMinsInput"
					dojoType="dijit.form.NumberSpinner" style="width: 70px;" constraints="{min: 1, places: 0}"/>
					<label for="cheatModeMinsInput">minutes per 24 hour period</label>
				</div>
			</div>
		</div>
	</div>
</div>
