<div class="Deterrent">
    <div class="helpArea">
        <p class="helpText">This is what will stop you from going on sites on your blocklist. Click to select 
        a deterrent.</p>
    </div>
    <div id="controlArea">
        <div class="groupedColumn">
            <a class="option" href="" onclick="return false;" value="password">
            <div class="innerColumn">
                <h2>Intervention</h2>
                <div class="deterrentLogo">
                    <img src="../media/Keys.jpg" alt="Keys" width="240" height="79"/>
                </div>
                <p>&#09;Like a friend holding the keys to your car when you've been drinking, this option will reach out
                to a friend of your choice with instructions to keep the password from you except in cases of dire emergency.
                The password we entrust to your friend will allow you to release all the blocks. 
                </p>
                <p>
                Make sure to choose a friend 
                who you know will be unyielding to your begs for the password. The more stubborn the friend, the stronger
                the deterrent! 
                </p>
                <br>
                <label for="email">Friend's Email:</label>
                <input  name="email" value="" type="" id="tbEmail" dojoAttachPoint="_tbEmail" 
                dojoType="dijit.form.TextBox" style="width: 170px;" />
                <div id="captcha"></div>
                <p>This option requires a valid email of a person you can trust.</p>
            </div>
            </a>
        </div>
        <div class="groupedColumn">
            <a class="option" href="" onclick="return false;" value="embarrassment">
                <div class="innerColumn">
                    <h2>Social Folly</h2>
                    <div class="deterrentLogo">
                        <img src="../media/FBLogo.jpg" alt="Facebook logo" width="210" height="79"/>
                    </div>
                    <p>&#09;Choose this option if you think the potential of an embarrasment through the social networking 
                    site Facebook will be enough to deter you from distractions.</p>
                    <p>If you surrender during a block with this option selected, you might login to Facebook one day
                    to see a few less friends, and few extra notifications. Your status might be updated, it might even mention
                    a name or two of randomly selected friends. It might state something simple like: "smoking weed with my brahz"
                    or it could be worse, like admittance of how you like to smell the toilet seat after Jasmine uses it.
                    The only thing that is sure, is that something will happen to your
                    Facebook profile if you surrender, and you won't know when it's going to happen.</p>
                    <br>
                    <p>This option requires a Facebook account.</p>
                </div>
            </a>
        </div>
        <div class="groupedColumn">
            <a class="option" href="" onclick="return false;" value="currency">
                <div class="innerColumn">
                    <h2>Currency</h2>
                    <div class="deterrentLogo">
                        <img src="../media/PaypalLogo.gif" alt="Paypal logo" width="253" height="80"/>
                    </div>
                    <p>&#09;Plain and simple. If embarrassment wont stop you from losing your focus, perhaps a 
                    pre-selected slice of cheese will talk to you.</p>
                    <p>You get to choose how much money to put on the line. When and if you surrender, you will be charged
                    the amount you pre-selected.</p>
                    <br>
                    <label for="moneyAmount">USD $</label>
					<input  name="moneyAmount" value="5" type="" id="_moneyInput" dojoAttachPoint="_tbCurrencyAmount" 
					dojoType="dijit.form.NumberSpinner" style="width: 70px;" constraints="{min: 1, places: 2, max: 99999}" invalidMessage="Let's be reasonable..."/>
                    <p>This option requires a Paypal account.</p>
                </div>
            </a>
        </div>
    </div>
</div>
