<div class="Initiation">
    <h1>You're all set!</h1>
    <h2>Obey the rules you set forth on your block lists and schedule, and
    everyone stays happy!</h2>
    <p>Remember you can only change settings while none of your blocks are
    active. Just click the <img width="16px" height="16px" src='../media/logox32.png'></img>
    icon in the add on toolbar.</p>
    <h2>Browse responsibly!</h2>
</div>
