<div class="TermsAndConditions">
    <h2>Terms & Conditions</h2>
    <div id="termsAndConditions">
        <h2>
            Idderall Terms and Conditions of Use
        </h2>

        <p>
            By using this add on, and agreeing to the terms you are agreeing to be bound by these 
            Terms and Conditions of Use, all applicable laws and regulations, 
            and agree that you are responsible for compliance with any applicable local 
            laws. If you do not agree with any of these terms, you are prohibited from 
            using or accessing this add on.
        </p>

        <h3>
            1. I will not share how to circumvent idderall rules(a)
        </h3>

        <p>
        You may attempt to reverse engineer Idderall for the sake of education,
        as long as you do not publicize any procedures for circumventing the
        blocks in idderall, including, but not limited to: the uninstall prevention,
        settings adjustment prevention, and setup access prevention.

        </p>
        <h3>
            2. Use License
        </h3>
        Idderall is provided free of charge. Idderall only requires payment in the 
        case that you, the user, decide to use a monetary deterrent (also known as paypal,
        or currency selection). In this case, the user must pay if and only if they need 
        to unblock websites during scheduled or temporary block times.
        <ol type="a">
            <li>
            This license shall automatically terminate if you violate any of these restrictions and may be terminated by Idderall at any time.
            Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials
            in your possession.
            </li>
        </ol>

        <h3>
            3. Disclaimer
        </h3>

        <ol type="a">
            <li>
            The materials on Idderall's web site and in the add-on are provided "as is".
            Idderall makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties,
            including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose,
            or non-infringement of intellectual property or other violation of rights.
            Further, Idderall does not warrant or make any representations concerning the accuracy, likely results, or reliability of
            the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site
            or the add-on.
            </li>
        </ol>

        <h3>
            4. Limitations
        </h3>

        <p>
        In no event shall Idderall be liable for any damages (including, without limitation, damages for loss of data or profit, or due
        to business interruption,) arising out of the use or inability to use the materials on Idderall's Internet site or add-on, even if Idderall or a
        Idderall authorized representative has been notified orally or in writing of the possibility of such damage.
        </p>
    </div>
    <div>
        <input type="checkbox" id="agreeToTerms" value="false" name="Agree To Terms and Conditions" />
        <label for="agreeToTerms">I agree to the terms and conditions</label>
    </div>
</div>
